.header{
  display:flex;
  justify-content: space-between;
  border:1px solid;
}

.logo{
  width:130px;
}
.nav-items>ul{
  display: flex;
  list-style-type: none;
}
.nav-items>ul>li {
  font-size: 24px;
  padding:10px;
  margin:10px;
}
.search{
  padding:10px;
}
.res-container{
  display:flex;
  flex-wrap:wrap;
}
.res-card{
  margin:10px;
  width:230px;
  padding:5px;
  background-color: #f0f0f0;
  
}
.res-card:hover{
  cursor:pointer;
  border:1px solid black;

}
.card-image{
  width:89%;
  margin:10px;
}

.search-button:hover{
  border-radius:5px;
  padding:5px;
  cursor:pointer;
  margin:10px;
}